@import "../variables";

nav.navbar {
  background-color: @color-background-dark;
  border-radius: 0;
  border: none;

  a {
    color: @font-color-light;
  }

  button.btn.btn-orange {
    margin-left: @space-16;
    margin-top: 7px;
  }

  .navbar-right {
    margin-right: 0;
  }
}