<navigation [loggedIn]="true"></navigation>

<div class="form-wrapper container">
    <h1><a class="back" routerLink="/dashboard"><span class="glyphicon glyphicon-arrow-left"></span></a> Form <span class="form-id">{{form.id}}</span></h1>
    <form>
        <label class="name" for="form-name">Name</label> <input id="form-name" class="form-control" name="name" [(ngModel)]="form.name">
        <label class="description" for="form-description">Description</label> <textarea id="form-description" class="form-control" name="description" [(ngModel)]="form.description"></textarea>
        <label class="emails" for="form-emails">E-Mails (separated by comma)</label> <input id="form-emails" class="form-control" name="emails" [(ngModel)]="form.emailList">
        <label class="template" for="form-template">Template</label> <textarea id="form-template" class="form-control" name="template" [(ngModel)]="form.template"></textarea>
    </form>
    <button class="btn btn-orange" (click)="save()">Save <span class='glyphicon glyphicon-repeat'></span></button>
    <a class="btn btn-orange" routerLink="/dashboard">Cancel</a>
</div>

<foooter></foooter>