<navigation></navigation>

<div class="form-wrapper container">
    <h1><a routerLink="/dashboard"><span class="glyphicon glyphicon-menu-left"></span></a> Form {{form.id}}</h1>
    <form>
        <label class="name" for="form-name">Name</label> <input id="form-name" class="form-control" name="name" [(ngModel)]="form.name">
        <label class="description" for="form-description">Description</label> <textarea id="form-description" class="form-control" name="description" [(ngModel)]="form.description"></textarea>
        <label class="email" for="form-email">E-Mail</label> <input id="form-email" class="form-control" name="email" [(ngModel)]="form.email">
        <label class="template" for="form-template">Template</label> <textarea id="form-template" class="form-control" name="template" [(ngModel)]="form.template"></textarea>
    </form>
    <button class="btn btn-orange" (click)="save()">Save <span class='glyphicon glyphicon-repeat'></span></button>
    <a class="btn btn-orange" routerLink="/dashboard">Cancel</a>
</div>

<foooter></foooter>