@import "../variables";

.form-wrapper {
  .card;

  h1 {
    position: relative;

    a.back {
      position: absolute;
      left: -46px;
      top: 6px;
      font-size: 28px;
      color: @font-color-orange;

      &:hover, &:focus {
        color: @font-color-orange-hover;
      }
    }

    .form-id {
      font-weight: 400;
    }
  }

  form {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: @space-16 @space-32;

    padding-bottom: @space-16;

    textarea {
      resize: vertical;
    }
  }

  button.btn .glyphicon {
    display: none;

    .spin;
  }
}