@import "../variables";

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: @color-background-dark;
    color: @font-color-light;

    padding-top: @space-8;
    padding-bottom: @space-8;

    .copyright, .imprint {
        color: @font-color-light;
    }
}