div.dashboard-wrapper {
    margin-top: 50px;

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    padding: 40px;

    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);

    h1 {
        margin-top: 0;
    }

    a.add {
        float: right;
    }

    table {
        margin-bottom: 0;

        td.edit, td.remove {
            width: 43px;
        }
    }
}