@import "../variables";

.dashboard-wrapper {
    .card;

    a.add {
        float: right;
    }

    table {
        margin-top: @space-8;
        margin-bottom: 0;

        thead {
            background-color: @color-background;
            color: @font-color-light;
            font-weight: 500;
            border: none;
        }

        tbody {
            tr {
                td {
                    border-top: none;
                    border-bottom: 1px solid @color-line-grey;
                    vertical-align: middle;

                    &.toggle-active, &.edit, &.remove {
                        width: 1%;
                    }

                    &.edit, &.remove {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}