@import "variables";

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
    font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: @color-background;
}

.component-wrapper {
    min-height: ~"calc(100vh - 36px - 50px - 32px)";
}

.btn {
    padding: @space-8 @space-32;
}

.btn-small {
    padding: @space-4 @space-8;
}

.btn-orange {
    background-color: @color-brand-orange;
    color: @font-color-light;
    font-weight: 700;
    border: none;

    &:hover, &:focus {
        background-color: @font-color-orange-hover;
        color: @font-color-light;
    }
}

h1 {
    margin-bottom: @space-16;
}

p {
    margin-bottom: @space-16;
}

.form-control {
    padding: @space-8 @space-16;
}

.form-control:focus {
    border-color: @color-brand-orange;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @color-brand-orange;
}

span.brand-for {
    font-weight: 700;
}
span.brand-m {
    font-weight: 700;
    color: @font-color-orange-on-dark;
}
span.brand-ail {
    font-weight: 300;
    color: @font-color-orange-on-dark;
}