@import "variables";

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
    font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: @color-background;
}

.container.dashboard-wrapper, .container.form-wrapper {
    margin-top: @space-32;

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    padding: @space-32 @space-64;

    .box-shadow;

    > h1:first-of-type {
        margin-top: 0;
    }
}

.btn {
    padding: @space-8 @space-32;
}

.btn-small {
    padding: @space-4 @space-8;
}

.btn-orange {
    background-color: @color-brand-orange;
    color: @font-color-light;
    font-weight: 700;
    border: none;

    &:hover, &:focus {
        background-color: @font-color-orange-hover;
        color: @font-color-light;
    }
}

h1 {
    margin-bottom: @space-16;
}